.header__wrapper {
  height: 62px;
  z-index: 2;
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding: 0 2rem;
}

.header__container {
  border-radius: 60px;
  background-color: var(--clr-lightblue);
}

.navbar__logo img {
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 47px;
}

.navbar__info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar__info_number,
.navbar__info_location {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar__info_number img,
.navbar__info_location img {
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
}

.navbar__info_number_phone,
.navbar__info_location_text {
  text-wrap: nowrap;
  font-size: 18px;
}

.navbar__buttons {
  display: flex;
  align-items: center;
}

.navbar__links {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 25px;
}

.navbar__link {
  font-size: 18px;
  font-weight: 400;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}

.navbar__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--clr-black);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar__link:hover::after {
  width: 50%;
  left: 25%;
}

.navbar__active {
  font-weight: 600;
  position: relative;
}

.navbar__active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: var(--clr-black);
}

.navbar__active:hover::after {
  width: 50%;
  left: 25%;
}

.navbar__btn {
  background-color: var(--clr-blue);
  border-radius: 45px;
  padding: 13px 15px;
  font-size: 18px;
  color: var(--clr-white);
  font-weight: 500;
}

.navbar__burger_btn {
  display: none;
}

.header__mini_wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: rgba(243, 243, 250, 0.95);
  z-index: 10;
  touch-action: none;
  top: -20px;
}

.header__mini_wrapper.open {
  display: flex;
}

.header__mini_container {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__mini_catalog_btn {
  text-align: center;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border-radius: 5px;
  font-size: 18px;
  padding: 13px 55px;
  font-weight: 500;
}

.headerr__mini_links_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__mini_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--clr-white);
  border-radius: 5px;
}

.header__mini_link>img {
  width: 100%;
  height: 100%;
  max-width: 15px;
  max-height: 30px;
}

.header__mini_link_info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__mini_link_info img {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
}

.header__mini_link_info_text {
  font-size: 18px;
}

.header__mini_active {
  font-weight: 600;
}

.header__mini_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header__mini_info_number,
.header__mini_info_location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex: 1;
}

.header__mini_info_number img,
.header__mini_info_location img {
  width: 100%;
  height: 100%;
  max-width: 20px;
  max-height: 20px;
}

.hero__wrapper_home {
  display: flex;
  padding-top: calc(88px + 8.5rem);
  position: relative;
  z-index: 1;
  min-height: 68vh;
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: -1;

  object-fit: cover;
  object-position: bottom center;
}

.hero__wrapper_about,
.hero__wrapper_contact,
.hero__wrapper_calc,
.services__wrapper {
  position: relative;
}

.hero__wrapper_home::after,
.services__wrapper::after,
.hero__wrapper_calc::after {
  content: "";
  position: fixed;
  width: 250px;
  height: 250px;
  background: rgba(73, 104, 247);
  border-radius: 50%;
  filter: blur(200px);
  top: 0;
  right: 0;
  transform: translate(0, -20%);
  z-index: -1;
}

.hero__wrapper_about::after,
.hero__wrapper_contact::after {
  content: "";
  position: fixed;
  width: 250px;
  height: 250px;
  background: rgba(73, 104, 247);
  border-radius: 50%;
  filter: blur(200px);
  top: 0;
  right: 0;
  transform: translate(0, -20%);
  z-index: -1;
}

.services__wrapper::before {
  content: "";
  position: fixed;
  width: 250px;
  height: 500px;
  background: rgba(73, 104, 247);
  border-radius: 50%;
  filter: blur(200px);
  top: 0;
  left: 0;
  transform: translate(-75%, 60%);
  z-index: -1;
}

.hero__wrapper_calc::before {
  content: "";
  position: fixed;
  width: 250px;
  height: 500px;
  background: rgba(73, 104, 247);
  border-radius: 50%;
  filter: blur(200px);
  top: 0;
  left: 0;
  transform: translate(-75%, 70%);
  z-index: -1;
}

.hero__wrapper_home::before {
  content: "";
  position: fixed;
  width: 250px;
  height: 500px;
  background: rgba(73, 104, 247);
  border-radius: 50%;
  filter: blur(200px);
  top: 0;
  left: 0;
  transform: translate(-75%, 40%);
  z-index: -1;
}

.hero__wrapper_contact::before {
  content: "";
  position: fixed;
  width: 250px;
  height: 500px;
  background: rgba(73, 104, 247);
  border-radius: 50%;
  filter: blur(200px);
  top: 0;
  left: 0;
  transform: translate(-75%, 80%);
  z-index: -1;
}

.hero__wrapper_about::before {
  content: "";
  position: fixed;
  width: 250px;
  height: 500px;
  background: rgba(73, 104, 247);
  border-radius: 50%;
  filter: blur(200px);
  top: 0;
  left: 0;
  transform: translate(-75%, 55%);
  z-index: -1;
}

.hero__container_home {
  display: flex;
  flex-direction: column;
  position: relative;
}

.hero__container_content_home {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.hero__img_container_home img {
  width: 100%;
  height: 100%;
  max-width: 531px;
  max-height: 531px;
}

.hero__info_container_home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 549px;
  width: 100%;
}

.hero__info_title_home {
  font-size: 60px;
  width: 100%;
  overflow-wrap: break-word;
  color: var(--clr-white);
}

.hero__info_title_home span {
  color: var(--clr-blue);
}

.hero__info_desc_home {
  font-size: 20px;
  color: var(--clr-white);
}

.hero__info_btns_home,
.contact__us_btns {
  display: flex;
  gap: 15px;
}

.hero__info_price_btn_home {
  display: flex;
  align-items: center;
  background-color: var(--clr-blue);
  padding: 15px;
  color: var(--clr-white);
  border-radius: 45px;
  gap: 10px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hero__info_price_btn_home img {
  width: 100%;
  height: 100%;
  max-width: 10px;
  max-height: 20px;
}

.hero__info_inst_btn_home,
.contact__info_inst_btn {
  background-color: #F3F301;
  border-radius: 49px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__info_inst_btn_home img,
.contact__info_inst_btn img {
  width: 100%;
  height: 100%;
  max-width: 41px;
  max-height: 41px;
}

.experience__wrapper {
  background-color: var(--clr-darkblue);
  padding-top: 10.5rem;
}

.experience__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 800px;
  height: auto;
}

.reasons__cards_container img {
  width: fit-content;
}

.reasons__card {
  max-width: 382px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(253, 254, 255, 0.95);
  border-radius: 20px;
  padding: 30px 60px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.reasons__card img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.reasons__card_title {
  font-size: 20px;
  overflow-wrap: anywhere;
}

.reasons__card_desc {
  font-size: 18px;
  overflow-wrap: anywhere;
}

.experience__info_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience__info_text_container {
  max-width: 609px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experience__info_top_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.experience__info_text_title_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.experience__info_text_about {
  background-color: var(--clr-blue);
  border-radius: 5px;
  padding: 5px 10px;
  color: var(--clr-white);
  width: fit-content;
  font-size: 20px;
}

.experience__info_text_title {
  color: var(--clr-white);
  font-size: 40px;
  font-weight: 400;
}

.experience__info_text_desc {
  font-size: 20px;
  color: var(--clr-white);
}

.experience__info_img_container {
  flex-shrink: 0;
}

.experience__info_img_container img {
  width: 100%;
  height: 100%;
  max-width: 494px;
  max-height: 361px;
}

.experience__info_experience_container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.experience__info_experience {
  display: flex;
  flex-direction: column;
}

.experience__info_experience_title {
  color: var(--clr-yellow);
  font-size: 30px;
  font-weight: 400;
}

.experience__info_experience_desc {
  font-size: 16px;
  color: var(--clr-white);
  max-width: 90%;
}

.experience__companies_container {
  left: 0;
  top: 0;
  position: relative;
  transform: translateY(-6rem);
  width: 100%;
  background-color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 130px;
  border-radius: 20px;
  padding: 50px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.experience__company img {
  width: 100%;
  height: 100%;
  max-width: 226px;
  max-height: 60px;
}

.reviews__wrapper {
  min-height: 800px;
  height: auto;
  display: flex;
}

.reviews__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

.reviews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 0;
  gap: 20px;
  position: relative;
  margin-top: 30px;
}

.reviews__title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 7rem;
}

.reviews__title span {
  color: var(--clr-blue);
}

.reviews__cards__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.review__card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--clr-white);
  border-radius: 10px;
  position: relative;
  padding: 80px 10px 20px 10px;
  width: 100%;
  height: 100%;
  max-width: 309px;
  height: 273px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.review__card img {
  width: 100%;
  height: 100%;
  max-width: 44px;
  max-height: 27px;
}

.review__card_main {
  background-color: var(--clr-blue);
  height: 100%;
  height: 291px;
}

.review__card_img img {
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
}

.review__card_main>.review__card_img img {
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 130px;
}

.review__card_img {
  position: absolute;
  top: -5rem;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid var(--clr-black);
  width: fit-content;
}

.review__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.review__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 170px;
  gap: 5px;
}

.review__rating img {
  width: 100%;
  height: 100%;
  max-width: 30px;
  max-height: 30px;
}

.review__person_name {
  font-size: 21px;
  text-align: center;
  font-weight: 600;
}

.review__person_name_main {
  color: var(--clr-white);
}

.review__text {
  font-size: 16px;
  color: var(--clr-black);
  text-align: center;
}

.review__text_main {
  color: var(--clr-white);
  font-size: 18px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  padding: 30px 0;
  box-shadow: inset 0 4px 20px rgba(0, 0, 0, 0.25);
  background-color: var(--clr-lightblue);
  min-height: 186px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.footer__top,
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__top_logo {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__top_logo img {
  width: 100%;
  height: 100%;
  max-width: 130px;
  max-height: 62px;
}

.footer__top_nip {
  color: #FDFDFD;
  font-size: 18px;
}

.footer__links_top,
.footer__links_bottom {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer__link_top {
  text-transform: uppercase;
}

.footer__link_top,
.footer__link_bottom {
  color: #4968F7;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__divider {
  width: 100%;
  height: 1px;
  background-color: var(--clr-white);
}

.footer__bottom_socials {
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer__bottom_social {
  padding: 5px;
  border-radius: 18px;
  border: 1px solid var(--clr-white);
}

.footer__bottom_social img {
  width: 100%;
  height: 100%;
  max-width: 40px;
  max-height: 40px;
}

.navbar__info_number img,
.navbar__info_location img {
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
}

.services__wrapper {
  margin-top: calc(88px + 60px);
  margin-bottom: 60px;
}

.services__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.services__content_container {
  display: flex;
  gap: 100px;
}

.services__content_left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.services__content_img {
  background-color: #DDE1F8;
  border-radius: 0 100px 40px 0;
  width: 358px;
  max-width: 358px;
  height: 635px;
  max-height: 635px;
  position: relative;
}

.services__content_img img {
  position: absolute;
  width: 100%;
  transform: translateX(1.5rem);
}

.services__content_left_btns {
  display: flex;
  gap: 20px;
}

.services__content_left_order_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-blue);
  border-radius: 46px;
  padding: 20px 15px;
  color: var(--clr-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  gap: 5px;
  flex: 1;
}

.services__content_left_order_btn img {
  width: 100%;
  height: 100%;
  max-width: 10px;
  max-height: 20px;
}

.services__content_left_phone {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 110px;
  background-color: var(--clr-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.services__content_right {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.service__info_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.service__info_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--clr-white);
  flex-wrap: wrap;
  padding: 15px 25px;
  border-radius: 10px;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.service__info_main_title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.service__info_main_title img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.service__info_main_title_text {
  font-size: 20px;
}

.service__info_price {
  gap: 5px;
  font-size: 20px;
  color: var(--clr-darkgrey);
  font-weight: 500;
  text-align: end;
  flex-wrap: wrap;
}

.service__info_price_variant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F5F5F5;
  padding: 20px 25px;
  gap: 20px;
}

.service__info_price_variant_title {
  font-size: 20px;
  font-weight: 500;
}

.services__cards_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.services__card {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border-radius: 20px;
  background-color: #08091D;
}

.services__card img {
  width: 100%;
  height: 100%;
  max-width: 78px;
  max-height: 78px;
}

.services__card_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-wrap: anywhere;
  width: 100%;
}

.services__card_title {
  color: var(--clr-white);
  font-size: 18px;
  font-weight: 500;
}

.services__card_desc {
  color: var(--clr-white);
  font-size: 16px;
  font-weight: 400;
  overflow-wrap: anywhere;
}

.hero__wrapper_contact {
  margin-top: calc(88px + 1rem);
  min-height: 90vh;
}

.hero__container_contact {
  display: flex;
  justify-content: center;
  gap: 4rem;
  position: relative;
  top: -100px;
  height: fit-content;
}

.hero__wrapper_img_contact {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 100%, 100% 60%, 100% 0, 0 0);
}

.hero__wrapper_img_contact img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  transform: translateY(-20rem);
}

.hero__wrapper_img_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero__form_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 15px;
  flex: 1;
  min-height: 519px;
  background-color: var(--clr-white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  padding: 20px;
}

.hero__form_title {
  font-size: 20px;
  font-weight: 600;
}

.form__input_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form__inputs__container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__textarea_container {
  flex: 1;
}

.form__name_input_text {
  font-size: 14px;
  font-weight: 600;
}

.form__input_field {
  background-color: #F8F8F8;
  padding: 13px 21px;
  border-radius: 5px;
  font-size: 16px;
  color: #97969B;
  border: none;
  resize: none;
}

.form__input_field::placeholder {
  font-size: 16px;
  color: #97969B;
}

.form__input_field:focus {
  outline: none;
}

.form__textarea {
  flex: 1;
}

.form__bottom_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__bottom_btns_agree {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form__bottom_btns_agree:hover {
  cursor: pointer;
}

.form__bottom_btn_agree_text {
  font-size: 14px;
}

.form__bottom_btn_agree_text:hover {
  cursor: pointer;
}

.form__bottom_btns_send {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  font-size: 18px;
  padding: 13px 15px;
  font-weight: 500;
  border-radius: 45px;
}

.form__bottom_btns_radio {
  appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #0057ff;
  border-radius: 4px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.form__bottom_btns_radio:checked::after {
  content: '';
  width: 6px;
  height: 12px;
  border-right: 3px solid var(--clr-white);
  border-bottom: 3px solid var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(40deg);
}


.form__bottom_btns_radio:checked {
  background-color: #0057ff;
}

.hero__info_container_contact {
  display: flex;
  align-items: flex-end;
  flex: 2;
}

.hero__info_wrapper_contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;
}

.hero__info_title_container_contact {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero__info_title_contact {
  font-size: 40px;
}

.hero__info_title_contact span {
  color: var(--clr-blue);
}

.hero__info_desc_contact {
  font-size: 20px;
}

.hero__info_content_container {
  display: flex;
  gap: 30px;
}

.hero__info_socials {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero__info_social {
  display: flex;
  align-items: center;
  background-color: var(--clr-white);
  gap: 15px;
  padding: 15px 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hero__info_social img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.hero__info_social_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-wrap: anywhere;
}

.hero__info_social_title {
  font-size: 20px;
}

.hero__info_social_desc {
  font-size: 18px;
}

.hero__info_qrcode {
  border-radius: 15px;
  flex-shrink: 0;
}

.hero__info_qrcode img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 275px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hero__wrapper_about {
  padding: calc(88px + 50px) 0;
}

.hero__container_about {
  min-height: 70vh;
  height: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero__img_container_about img {
  width: 100%;
  height: 100%;
  max-width: 503px;
  max-height: 516px;
}

.hero__content_container_about {
  display: flex;
  gap: 40px;
  flex: 2;
  flex-direction: column;
}

.hero__text_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__content_title_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__content_title_text {
  display: flex;
  flex-direction: column;
}

.hero__content_title_about {
  color: var(--clr-blue);
  font-size: 20px;
}

.hero__content_title_about_about {
  color: var(--clr-black);
  font-size: 40px;
}

.hero__content_title_about_about span {
  color: var(--clr-blue);
}

.hero__content_title_desc_about {
  font-size: 20px;
}

.hero__info_container_about {
  display: flex;
  justify-content: center;
  gap: 81px;
}

.hero__cards_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 2;
}

.hero__card_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__card_container img {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
}

.hero__card_text_container {
  display: flex;
  flex-direction: column;
}

.hero__card_title {
  color: var(--clr-blue);
  font-size: 20px;
}

.hero__card_desc {
  font-size: 16px;
}

.hero__quote_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-lightgreen);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  flex: 1.75;
}

.hero__quote_img_top,
.hero__quote_img_bottom {
  width: 100%;
  height: 100%;
  max-width: 44px;
  max-height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.hero__quote_img_top {
  top: -0.75rem;
  align-self: flex-start;
  padding-left: 0.5rem;
}

.hero__quote_img_bottom {
  bottom: -0.75rem;
  align-self: flex-end;
  padding-right: 0.5rem;
}

.hero__btns_container_about {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero__contact_btn_about {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  border-radius: 45px;
  gap: 5px;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  font-size: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hero__contact_btn_about img {
  width: 100%;
  height: 100%;
  max-width: 10px;
  max-height: 20px;
}

.hero__contact_phone_img_about img {
  width: 100%;
  height: 100%;
  max-width: 25px;
  max-height: 25px;
}

.hero__contact_phone_about {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__contact_phone_img_about {
  padding: 15px;
  border-radius: 110px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hero__contact_phone_text_about {
  display: flex;
  flex-direction: column;
}

.hero__contact_phone_title_about {
  color: var(--clr-blue);
  font-size: 16px;
}

.hero__contact_phone_desc_about {
  color: var(--clr-black);
  font-size: 18px;
}

.info__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 300px;
}

.info__img_container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.info__img_container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.info__text_wrapper {
  width: 100%;
  background-color: rgba(8, 9, 29, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.info__text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 550px;
  gap: 10px;
}

.info__text_title {
  color: var(--clr-white);
  font-size: 40px;
  text-align: center;
}

.info__text_desc {
  color: var(--clr-white);
  font-size: 20px;
  text-align: center;
}

.reviews__wrapper.about {
  min-height: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews__content.about {
  display: flex;
  padding: 125px 0;
}

.review__card.about {
  height: 253px;
  width: 100%;
  max-width: 241px;
  padding: 55px 10px 20px 10px;
}

.review__card_main.about {
  height: 269px;
  width: 100%;
  max-width: 242px;
  padding: 35px 10px 20px 10px;
}

.review__card_img.about {
  top: -4rem;
}

.review__card_img.about {
  width: 100%;
  height: 100%;
  max-width: 108px;
  max-height: 108px;
}

.review__name.about {
  gap: 10px;
}

.review__name.about>.review__rating img {
  width: 100%;
  height: 100%;
  max-width: 20px;
  max-height: 20px;
}

.review__person_name.about,
.review__person_name_main.about {
  font-size: 18px;
}

.review__text.about,
.review__text_main.about {
  font-size: 13px;
}

.reviews__cards__container.about {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__wrapper_calc {
  margin-top: calc(4rem + 88px);
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero__title_calc_wrapper {
  background: linear-gradient(90deg, #D4EDFF, #A2BBEB);
  width: 100%;
  height: 100%;
  max-height: 168px;
  height: 168px;
}

.hero__title_calc_container {
  display: flex;
  align-items: center;
  position: relative;
}

.hero__title_calc_text {
  font-size: 40px;
  display: flex;
  flex-direction: column;
}

.hero__title_calc_text span {
  color: var(--clr-blue);
}

.hero__title_calc_container img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 210px;
  max-width: 483px;
  max-height: 210px;
  margin-right: 4rem;
  transform: translateX(-0.5rem)
}

.hero__content_calc_container {
  display: flex;
  gap: 50px;
}

.hero__services_lists_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__services_list {
  background-color: var(--clr-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 25px;
  gap: 15px;
}

.hero__services_title {
  font-size: 20px;
  color: var(--clr-black);
}

.hero__services {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero__service {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero__service:hover {
  cursor: pointer;
}

.hero__service_name {
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  flex: 1;
  overflow-wrap: anywhere;
  border-left: 1px solid #97969B;
  padding: 8px 12px;
}

.hero__service_name:hover {
  cursor: pointer;
}

.hero__services_lists_container {
  flex: 2;
}

.hero__services_divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: var(--clr-white);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hero__services_divider_title {
  font-size: 20px;
}

.hero__services_divider_input {
  background-color: #F8F8F8;
  border: none;
  border-radius: 5px;
  padding: 13px 20px;
  width: 100%;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #97969B;
  font-size: 16px;
}

.hero__services_divider_input::placeholder {
  color: #97969B;
}

.hero__services_divider_input:focus {
  outline: none;
}

.hero__service_btn {
  appearance: none;
  width: 23px;
  height: 23px;
  border: 2px solid #0057ff;
  border-radius: 4px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.hero__service_btn:checked::after {
  content: '';
  width: 6px;
  height: 12px;
  border-right: 3px solid var(--clr-white);
  border-bottom: 3px solid var(--clr-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%) rotate(40deg);
}

.hero__service_btn:checked {
  background-color: #0057ff;
}

.form__error_msg {
  color: #FF6366;
  font-size: 16px;
  font-weight: 500;
  display: none;
}

.contact__modal_wrapper {
  pointer-events: none;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 10;
  height: fit-content;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -150%);
  margin-top: 8px;
  transition: transform 0.25s ease-in-out;
}

.contact__modal_wrapper.visible {
  transform: translate(-50%, 0);
}

.contact__modal_container {
  pointer-events: auto;
  display: flex;
  align-items: center;
  height: fit-content;
  overflow-wrap: anywhere;
  background-color: var(--clr-white);
  border-radius: 50px;
  padding: 10px 16px;
  max-width: 418px;
  gap: 8px;
}

.contact__modal_container img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
}

.contact__modal_text {
  font-size: 20px;
  user-select: none;
}

.contact__us_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 125px;
  margin-top: 150px;
}

.contact__us_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__us_content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 50px;
  width: 100%;
  min-height: 350px;
  background-color: #4968F7;
  overflow: visible;
}

.contact__us_img_container {
  position: absolute;
  bottom: 0;
  left: 100px;
  width: 450px;
  max-width: 450px;
  z-index: 2;
}

.contact__us_info_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 350px;
}

.contact__us_info_title {
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.contact__us_info_desc {
  color: var(--clr-white);
  text-transform: uppercase;
  font-size: 33px;
  font-weight: 500;
}

.contact__info_price_btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--clr-white);
  padding: 15px;
  color: var(--clr-white);
  border-radius: 45px;
  gap: 10px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.reasons__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reasons__text_wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.reasons__text_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 550px;
  padding: 50px 0;
}

.reasons__text_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.reasons__text_top {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reasons__text_top_title {
  font-size: 15px;
  font-weight: 500;
}

.reasons__text_top_desc {
  font-size: 40px;
  color: #B29DFF;
  font-weight: 600;
}

.reasons__text_top_subdesc {
  font-size: 20px;
}

.reasons__text_cards_container {
  justify-content: center;
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.reasons__text_card_container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.reasons__text_card_icon_container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-white);
  padding: 10px;
  border-radius: 75px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  max-width: 50px;
  max-height: 50px;
}

.reasons__cards_container {
  display: flex;
  align-items: center;
  position: relative;
  background: none;
  border-radius: 50px;
}

.reasons__cards_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  border-radius: 50px;
  background: linear-gradient(180deg, #b8d3fc 0%, #ffffff 100%);
  z-index: 3;
}

.reasons__img_container {
  max-width: 600px;
  z-index: -1;
  margin-right: 75px;
}

@media (max-width: 1536px) {

  .experience__companies_container {
    gap: 100px;
  }

  .reasons__cards_container {
    gap: 4rem;
  }

  .services__content_container {
    gap: 80px;
  }

  .reviews__cards__container.about {
    gap: 90px;
  }

  .navbar__info {
    gap: 20px;
  }

  .contact__us_img_container {
    left: 20px;
  }

  .reasons__img_container {
    max-width: 500px;
    right: 65px;
    bottom: 200px;
  }

  .reasons__cards_content {
    gap: 30px;
  }

  .reasons__card {
    padding: 15px 25px;
  }

  .navbar__info {
    display: none;
  }
}

@media (max-width: 1280px) {

  .hero__container_content_home {
    flex-direction: column-reverse;
  }

  .reviews__cards__container {
    gap: 100px;
  }

  .navbar__info {
    display: none;
  }

  .hero__container_contact {
    top: -50px;
  }

  .hero__title_calc_text {
    font-size: 30px;
  }

  .contact__us_img_container {
    left: 20px;
    width: 350px;
  }

  .reasons__img_container {
    max-width: 300px;
    right: 30px;
    bottom: 250px;
  }

  .reasons__cards_container {
    background: linear-gradient(180deg, #b8d3fc 0%, #ffffff 100%);
    min-height: 250px;
  }
  
  .footer__container {
    flex-wrap: wrap;
    gap: 30px;
  }

  .footer__bottom_socials {
    margin: auto;
  }
}

@media (max-width: 1024px) {

  .hero__wrapper_img_contact img {
    object-position: -1rem;
    height: 600px;
    transform: translateY(-15rem);
  }

  .hero__title_calc_text {
    display: none;
  }

  .navbar__links {
    gap: 15px;
  }

  .navbar__link,
  .navbar__btn {
    font-size: 15px;
  }

  .footer__divider {
    display: none;
  }

  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .footer__top,
  .footer__bottom,
  .footer__top_logo {
    flex-direction: column;
    gap: 30px;
  }

  .footer__links_bottom {
    flex-direction: column;
    gap: 20px;
  }

  .footer__link_bottom img {
    display: none;
  }

  .footer__top_nip {
    font-size: 18px;
  }

  .footer__link_top {
    font-size: 16px;
  }

  .footer__links_top {
    flex-direction: column;
    gap: 20px;
  }

  .footer__bottom {
    justify-content: center;
  }

  .footer__bottom_social {
    padding: 3px;
    border-radius: 18px;
    border-color: var(--clr-white);
  }

  .footer__bottom_social img {
    width: 30px;
    height: 30px;
  }

  .reasons__cards_container {
    flex-wrap: wrap;
  }

  .reasons__cards_content {
    flex-direction: column;
  }

  .reasons__card {
    flex: 1;
    max-width: 100%;
  }

  .experience__info_container {
    flex-direction: column;
  }

  .experience__container {
    min-height: 1050px;
  }

  .experience__info_container {
    gap: 40px;
  }

  .experience__info_img_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services__content_img {
    overflow: hidden;
    width: 100%;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services__content_img img {
    width: 450px;
    transform: translateX(-1.5rem);
    height: 100%;
    object-fit: cover;
  }

  .services__content_container {
    flex-direction: column;
    gap: 40px;
  }

  .services__cards_container {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero__info_content_container {
    flex-direction: column;
  }

  .hero__info_qrcode img {
    width: 100%;
    max-width: none;
  }

  .hero__form_container {
    gap: 34px;
  }

  .form__bottom_btns_agree {
    overflow-wrap: none;
    width: 100%;
  }

  .form__bottom_btns {
    flex-direction: column;
    gap: 34px;
  }

  .form__bottom_btns_send {
    width: 100%;
  }

  .hero__info_title_contact {
    font-size: 30px;
  }

  .hero__info_desc_contact {
    font-size: 15px;
  }

  .hero__info_social_title {
    font-size: 16px;
  }

  .hero__info_social_desc {
    font-size: 16px;
  }

  .hero__container_about {
    flex-direction: column;
  }

  .hero__info_container_about {
    flex-direction: column;
    gap: 40px;
  }

  .hero__content_title {
    font-size: 30px;
  }

  .hero__content_title_desc_about,
  .hero__card_title {
    font-size: 16px;
  }

  .hero__card_desc,
  .hero__quote_text {
    font-size: 14px;
  }

  .reviews__content.about {
    padding: 100px 0 75px 0;
  }

  .contact__us_img_container {
    left: -20px;
    width: 350px;
    display: none;
  }

  .contact__us_content {
    min-height: 250px;
  }

  .contact__us_info_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
  }

  .contact__us_info_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
  }

  .reasons__text_wrapper {
    flex-direction: column;
  }

  .reasons__text_wrapper {
    align-items: flex-start;
  }

  .reasons__img_container {
    max-width: 600px;
    z-index: 2;
    transform: translateX(15px);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  .info__img_container img {
    object-position: -45rem;
  }

  .hero__title_calc_wrapper {
    max-height: 120px;
  }

  .header__wrapper {
    height: 80px;
  }

  .hero__content_calc_container {
    position: relative;
  }

  .hero__calc_form {
    position: absolute;
    height: fit-content;
    width: calc(100% - 2 * 32px);
    left: 32px;
    transform: translateY(-7rem);
  }

  .hero__wrapper_calc {
    margin-top: calc(88px + 1.5rem);
  }

  .hero__title_calc_container img {
    display: none;
  }

  .hero__services_lists_container {
    margin-top: 28rem;
  }

  .hero__title_calc_text {
    display: none;
  }

  .hero__content_calc_container {
    flex-direction: column;
  }

  .experience__info_experience_container {
    gap: 20px;
  }

  .hero__info_title_home {
    font-size: 40px;
  }

  .navbar__buttons {
    display: none;
  }

  .navbar__info_location {
    display: flex;
  }

  .navbar__burger_btn {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__burger_btn img {
    width: 30px;
    height: 30px;
  }

  .service__info_main_title_text,
  .service__info_price_variant_title,
  .service__info_price {
    font-size: 18px;
  }

  .hero__container_contact {
    top: -140px;
    flex-direction: column;
  }

  .hero__info_wrapper_contact {
    gap: 1rem;
  }

  .services__card {
    padding: 10px 15px;
  }

  .hero__wrapper_home::after,
  .services__wrapper::after,
  .hero__wrapper_calc::after,
  .hero__wrapper_about::after,
  .hero__wrapper_contact::after {
    display: none;
  }

  .contact__modal_wrapper {
    margin-top: 5px;
  }

  .reasons__img_container {
    max-width: 500px;
    z-index: 2;
    transform: translateX(20px);
  }

}

@media (max-width: 640px) {

  .contact__modal_text {
    font-size: 18px;
  }

  .hero__services_divider {
    flex-direction: column;
    gap: 15px;
  }

  .hero__services_divider_input {
    max-width: none;
  }

  .experience__info_experience_container {
    gap: 0;
  }

  .services__content_img {
    overflow: visible;
  }

  .services__content_img img {
    transform: translateX(1rem);
    width: 100%;
    max-width: none;
  }

  .hero__contact_btn_about {
    justify-content: center;
    flex: 1;
  }

  .hero__contact_phone_text_about {
    display: none;
  }

  .price__main {
    display: none;
  }

  .service__info_main_title {
    gap: 10px;
  }

  .contact__us_content {
    padding: 45px 35px;
  }

  .reasons__text_cards_container {
    display: flex;
    flex-direction: column;
  }

  .contact__us_wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .reasons__cards_container {
    background: none;
  }

  .reasons__img_container {
    max-width: 400px;
    width: 100%;
    transform: translateX(-10px);
  }
  
  .reasons__cards_content {
    background: none;
    padding: 0;
  }
}

@media (max-width: 475px) {
  .hero__info_price_btn_home {
    flex: 1;
    justify-content: center;
  }

  .navbar__info_location {
    gap: 5px;
  }

  .navbar__info_location_text {
    font-size: 14px;
  }

  .hero__contact_btn_text_about {
    font-size: 14px;
  }

  .contact__us_info_desc {
    font-size: 25px;
  }

  .contact__us_info_title {
    font-size: 13px;
  }

  .footer__links_bottom,
  .footer__links_top {
    display: none;
  }

  .footer__bottom_socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    width: fit-content;
  }

  .contact__us_content {
    padding: 35px 25px;
  }

  .reasons__img_container {
    max-width: 400px;
    transform: translateX(-10px);
  }
}

@media (max-width: 380px) {

  .hero__info_title_home {
    font-size: 30px;
  }

  .info__img_container img {
    object-position: -50rem;
  }

  .navbar__info_location img {
    display: none;
  }

  .contact__us_info_title {
    font-size: 10px;
  }

  .contact__us_info_desc {
    font-size: 20px;
  }

  .reasons__text_top {
    word-wrap: break-word;
  }
}